/*   Core Typography
--------------------------------------------------------------------------  */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	color: $amethyst;

	@include respond(lg) {
		margin-top: 40px;
		margin-bottom: 20px;
	}
}

pre,
address,
code,
ul,
ol,
dt,
dd {
	margin-bottom: 0;
	font-size: 18px;
	letter-spacing: -0.25px;
	line-height: math.div(28, 18);
}

a {
	text-decoration: none;
}

ul,
ol {
	margin: 1em 0;
	padding-left: 1.5em;
}

ul {
	list-style-type: disc;

	ul {
		list-style-type: circle;

		ul {
			list-style-type: square;
		}
	}
}

ol {
	list-style-type: decimal;

	ol {
		list-style-type: lower-alpha;

		ol {
			list-style-type: lower-roman;
		}
	}
}

// Mixed nested lists (ul inside ol)
ol ul {
	list-style-type: disc;
}

ul ol {
	list-style-type: decimal;
}

.wp-block-latest-posts {
	li {
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
	}

	.wp-block-latest-posts__post-title,
	.wp-block-latest-posts__post-author,
	.wp-block-latest-posts__post-excerpt {
		padding: 0 32px;
	}

	.wp-block-latest-posts__post-excerpt {
		padding-bottom: 32px;
	}
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
	figcaption {
		a {
			color: $fiery-rose;
			font-size: 20px;
			font-weight: bold;
			text-shadow: none;
		}
	}
}

.main,
.footer {
	.wp-block-columns {
		.wp-block-column {
			padding: 16px 32px;

			@include respond(lg) {
				padding: 32px;
			}
		}
	}
}

.mobile-center {
	@include respond(md, max) {

		text-align: center;
		p {
			text-align: center;
		}
	}
}

.mobile-hide {
	@include respond(md, max) {
		display: none;
	}
}
