*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: $white;
	color: $onyx;
	font-family: $base-stack;
	line-height: 1.6;
}

.container {
	max-width: 1280px; // Updated to match theme.json
	margin: 0 auto;
	padding: 0 24px;

	@include respond(md) {
		padding: 0 32px;
	}
}
