form {
	&.frm-fluent-form.ffs_default {
		.label {
			color: $onyx;
		}

		.ff-btn-submit {
			background-color: $onyx !important;
			color: $white !important;

			&:hover {
				opacity: 1;
				background-color: $fiery-rose !important;
			}
		}
	}
}
