.error404-container {
	.error404-header,
	.error404-content {
		margin: 0 auto;
		padding: 4rem 0;
		border-bottom: 1px solid $bright-gray;
		@include text-center;

		@include respond(lg) {
			padding: 8rem 0;
		}
	}

	.error404-header {
		background-color: $bright-gray;
	}

	.error404-content {
		@include respond(lg) {
			max-width: 640px;
		}
	}
}
