.blog-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	min-height: 320px;
	margin-bottom: 3rem;
	background-color: $bright-gray;
	text-align: center;

	@include respond(lg) {
		margin-bottom: 6rem;
	}
}

.blog-content {
	margin-bottom: 3rem;

	@include respond(lg) {
		margin-bottom: 6rem;
	}

	.post-navigation {
		margin: 2rem 0;

		@include respond(lg) {
			margin: 4rem 0;
		}

		.nav-links {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}
}
